/*MOBILE*/
@media (max-width: 767px) {
    body {
        background-color: red;
        font-family: sans-serif;
    }

    .main-section {
        background-color: aqua;
        display: flex;
        justify-content: center;
    }

    .btn-container {
        background-color: blue;
        margin-top:20px;
        display: flex;
        justify-content: center;
    }

    .illu-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .illu-item{
        height: 100px;
        width: 100px;
        background-color: orange;
        margin: 5px;
    }

    .illu-icon{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    .ani-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ani-item{
        height: 100px;
        width: 100px;
        background-color: fuchsia;
        margin: 5px;
    }

    .ani-img{
        background-color: yellow;
        width: auto;
        height: auto;
    }

}